/* ======================================== */

/*                 CSS RESET                */

/* ======================================== */

html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    background: none;
}

body {
    height: 100%;
}

ul {
    list-style: none;
}

button {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: rgb(207, 30, 110);
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

h3 {
    font-family: 'Raleway', sans-serif;
    color: rgba(58, 12, 163, 1);
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    border-bottom: 3px solid rgba(58, 12, 163, 1);
}

:root {
    scroll-behavior: smooth;
}

/* ======================================== */

/*                 GRID LAYOUT              */

/* ======================================== */

@media only screen and (min-width: 0px) {
    .grid-container {
        display: grid;
        width: 100%;
        grid-template-columns: minmax(150px, 1fr);
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "nav" "main" "footer";
    }
    /* ======================================== */
    /*                 NAVIGATION               */
    /* ======================================== */
    #navbar {
        display: flex;
        width: 100%;
        height: 100vh;
        background: repeating-radial-gradient( circle at 0 0, rgba(247, 37, 133, 1), rgb(207, 30, 110) 50px);
        grid-area: nav;
        margin-top: 8rem;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    #github-logo {
        display: block;
        color: white;
        text-shadow: 0px 5px 5px black;
        font-size: 10rem;
        margin-bottom: 4rem;
    }
    #topic {
        display: block;
        color: white;
        font-size: 6rem;
        font-weight: bold;
        Font-Family: 'Roboto Condensed', Sans-Serif;
        text-align: center;
        width: 100%;
        text-shadow: 0px 3px 5px rgba(0, 0, 0, .6);
    }
    .nav-container {
        display: flex;
        background-color: white;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;
        padding: 2rem 2rem;
        position: fixed;
        margin: 0;
        top: 0;
        width: 100%;
        height: 80px;
        box-shadow: 0px 2px 5px rgb(73, 73, 73);
    }
    .icon-link {
        display: inline-block;
        background: none;
    }
    .fa-git {
        font-size: 4rem;
        color: rgba(58, 12, 163, 1);
    }
    .title {
        display: none;
        color: rgba(7, 58, 187, 1);
        font-weight: bold;
        font-size: 2.6rem;
    }
    /* ======================================== */
    /*               MAIN CONTENT               */
    /* ======================================== */
    #main-doc {
        color: black;
        background: linear-gradient(90deg, rgba(0, 255, 235, 1) 0%, rgba(7, 58, 187, 1) 100%);
        ;
        grid-area: main;
    }
    .content-container {
        background: white;
        padding: 2rem 1.5rem 4rem;
    }
    header {
        font-size: 4.6rem;
        text-align: center;
        color: white;
        font-weight: bold;
        Font-Family: 'Roboto Condensed', Sans-Serif;
        background-color: none;
        margin: 6rem 0;
        padding: 0 1em;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    }
    .intro {
        background: white;
        padding: 2rem 1.5rem 6rem;
    }
    #whats-git {
        display: block;
        position: relative;
        top: -260px;
        visibility: hidden;
    }
    p {
        background: white;
        font-size: 2rem;
        line-height: 4rem;
        text-align: justify;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 3rem;
    }
    p::first-letter {
        color: rgba(247, 37, 133, 1);
        font-weight: bold;
        font-size: 4rem;
        float: left;
        line-height: 30px;
        padding-right: 4px;
        padding-left: 0px;
        padding-top: 0px;
    }
    section a {
        text-decoration: none;
        color: rgba(247, 37, 133, 1);
        font-style: italic;
        transition: all .5s ease;
        cursor: pointer;
    }
    section a:hover {
        text-decoration: underline;
        color: rgba(58, 12, 163, 1);
    }
    .spacer {
        display: block;
        width: 100%;
        height: 3rem;
    }
    ol {
        width: 100%;
        text-align: center;
        list-style-position: inside;
        margin-bottom: 3rem;
    }
    ol li {
        font-size: 2rem;
        line-height: 4rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .fa-arrow-down {
        font-size: 2rem;
        color: rgba(58, 12, 163, 1);
    }
    code {
        display: block;
        background-color: rgb(200, 200, 200);
        font-size: 2rem;
        padding: 1rem 2rem;
        border-radius: 5px;
        margin-top: 2rem;
        margin-bottom: 3rem;
        text-align: left;
        overflow: scroll;
    }
    /* ======================================== */
    /*                    FOOTER                */
    /* ======================================== */
    .footer {
        background: rgba(58, 12, 163, 1);
        grid-area: footer;
        font-size: 2.0rem;
        color: white;
        padding: 2rem 1rem;
        text-align: center;
    }
    .footer a {
        color: white;
        text-decoration: none;
    }
}

@media only screen and (min-width: 768px) {
    .title {
        display: inline;
        font-size: 3.4rem;
    }
    #github-logo {
        display: block;
        color: white;
        text-shadow: 0px 10px 5px black;
        font-size: 20rem;
        margin-bottom: 4rem;
    }
    #topic {
        font-size: 10rem;
        text-shadow: 0px 8px 5px rgba(0, 0, 0, .6);
    }
    p {
        font-size: 2.5rem;
    }
    p::first-letter {
        font-size: 5rem;
    }
    header {
        font-size: 8rem;
    }
    h2 {
        font-size: 6rem;
    }
    h3 {
        font-size: 4.5rem;
    }
    section a {
        font-size: 2.5rem;
    }
    section li {
        font-size: 2.5rem;
    }
    .fa-arrow-down {
        font-size: 3rem;
    }
    code {
        font-size: 2.5rem;
    }
    .footer a {
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 1300px) {}